<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= check_box_tag "task_#{@task.id}", "1", @task.completed %> <%= @task.completed ? "This task is completed" : "This task is not completed yet" %></p>

<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit this task", edit_task_path %>
